body {
  padding: 50px;
  font-size: 14px;
  background:#fff;
  color: #6c7e8c;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
}

a {
  color: #00B7FF;
}
.button{
	color: white;
	border-radius: 2px;
	border: none;
	padding: 8px;
	margin: 10px auto;
	background-color: #d8367f;
	height:50px;
	width:100px;
}
.blurb{

}

section{
	width:960px;
	margin:0 auto;
	word-wrap: break-word;
}
input{
	width:400px;
	height:30px;
	font-size:18px;
	background:#f3f3f3;
	display: block;
	margin:0 auto;
}
select{
	width:400px;
	text-indent:170px;
}
p{
	font-size:20px;
}
p.device{
	margin-bottom:5px;
}
h2 {
	margin-top: 40px;
}
.row{
	margin:10px 0;
	border-bottom:1px solid black;
}
.row:last-child{
	border: none;
}
.url{
	margin:10px 0;
}
.status{
	margin:10px 0;
}
.row{

}
.row h2{
	font-size:15px;
	margin:0 0 2px;
}
.row:after{
	content: " "; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}
.params{
	float:left;
	margin:10px 0;
	font-weight: bold;
	width:49%;
}
.params:first-child{
	margin-right:2%;
}
.params div{
	margin:5px 0;
}
.params .red{
	color: red;
}
.params .green{
	color: #51BF45;
}
span{
	font-weight: bold;
	color: #d8367f;
}

/*
	Mobile Design
*/
@media screen and (max-height: 450px), screen and (max-width: 800px){
	body{
		padding:0;
	}
	section{
		width:100%;
	}
	input{
		width:300px;
	}
	select{
		width:300px;
		text-indent:125px;
	}
	.params{
		float:none;
		width:100%;
	}
	.params:first-child{
		margin-right:0;
	}
	.button{
		-webkit-appearance: none;
	}

}
