body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background:#eee;
}

a {
  color: #00B7FF;
}
section{
	width:960px;
	margin:0 auto;
}
input{
	width:400px;
	height:50px;
	font-size:24px;
}

h2 {
	margin-top: 40px;
}

.row{
	margin:10px 0;
	border-bottom:1px solid black;
}
.row:last-child{
	border: none;
}
.url{
	margin:10px 0;
}
.status{
	margin:10px 0;
}
.params{
	margin:10px 0;
	font-weight: bold;
}
.params h2{
	font-size:15px;
	margin:0 0 2px;
}
span{
	font-weight: bold;
	color: red;
}